/* general css for all pages */
* {
  box-sizing: border-box;
}

.page_wrapper {
  background-color: #21273d;
  max-width: 390px;
  height: 852px;
  display: grid;
  grid-template-columns: repeat(10px);
  grid-template-rows: repeat(20, 1fr);
}

.header {
  grid-column: 1/21;
  grid-row: 3/5;
}
.navbar {
  grid-column: 2/19;
  grid-row: 6/7;
}
.heading {
  grid-column: 5/16;
  grid-row: 8/9;
}

/* homepage */
.featured_image {
  grid-row: 9/11;
  grid-column: 1/21;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.featured_image img {
  height: 160px;
  width: 98px;
}
.img_text {
  text-align: center;
  color: white;
}
.button3 {
  grid-row: 15/16;
  grid-column: 7/15;
}
.footer {
  grid-row: 17/19;
  grid-column: 1/21;
}

/* about us */
.aboutUs_text {
  width: 302px;
  height: 209px;
  text-align: center;
  color: #f1f6f8;
  font-size: 14px;
  font-family: Kiwi Maru;
  font-weight: 400;
  word-wrap: break-word;
  grid-row: 12/14;
  grid-column: 6/15;
}
.about_heading {
  grid-column: 8/13;
  grid-row: 10/11;
}

/* products page */
.productList {
  grid-row: 10/19;
  grid-column: 2/19;
  width: 374px;
  height: 264px;
  overflow: scroll;
}
.grassClipper,
.earProtection,
.textileCleaner,
.toolKit,
.motorSaw {
  width: 381px;
  height: 85px;
  left: 19px;
  top: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.productImg {
  width: 67px;
  height: 63px;
}
.product_details {
  width: 230px;
  height: 60px;
  left: 73px;
  color: white;
  font-size: 7px;
  font-family: Kiwi Maru;
  font-weight: 400;
  word-wrap: break-word;
}
.product_details p {
  font-size: 8px;
  margin: 0px;
  line-height: 10px;
}
.btn2 {
  width: 59px;
  height: 20px;
  position: relative;
  top: 12px;
  left: -5px;
}
#message {
  height: 100px;
  width: 200px;
  text-align: center;
  font-size: large;
  background-color: #b9d4f1;
  padding-top: 40px;
}
#message a {
  position: relative;
  top: -60px;
  right: -80px;
}

/* cart page */
.item_details {
  font-size: 10px;
}
.btn_num {
  position: relative;
  left: -240px;
  top: 35px;
  display: flex;
  flex-direction: row;
  height: 15px;
}
.decrement,
.increment {
  width: 15px;
  background-color: #b9d4f1;
  text-align: center;
  padding-bottom: 2px;
}
.num {
  width: 15px;
  background-color: #6a759b;
  color: #f1f6f8;
  text-align: center;
  padding-top: 2px;
  font-size: 10px;
}
.cart_list {
  grid-row: 10/13;
  border-bottom: 1px solid #f1f6f8;
}
.total {
  grid-row: 13/14;
  grid-column: 15/18;
  color: #f1f6f8;
  position: relative;
  right: -15px;
}
.order_btn {
  grid-column: 15/18;
  grid-row: 14/15;
  height: 28px;
  width: 110px;
  align-items: center;
  font-weight: 600;
  position: relative;
  top: -10px;
}
.cart_heading {
  grid-column: 6/16;
}
#order_message {
  height: 100px;
  width: 200px;
  text-align: center;
  font-size: large;
  background-color: #b9d4f1;
  padding-top: 40px;
}
#order_message a {
  position: relative;
  right: -20px;
  top: -40px;
  border: 2px solid wheat;
}

/* log in page */
.input_logIn {
  grid-row: 8/13;
  grid-column: 4/18;
}
.logIn_btn {
  position: relative;
  left: 80px;
  top: 15px;
  height: 35px;
  font-size: large;
  align-items: center;
  font-weight: 600;
}
.signUp {
  grid-row: 14/16;
  grid-column: 5/16;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f1f6f8;
  font-size: larger;
  justify-content: space-between;
}
.signUp_btn {
  height: 35px;
  font-size: large;
  align-items: center;
  font-weight: 600;
  margin-left: 10px;
}
.logIn_btn a,
.signUp_btn a {
  text-decoration: none;
}

.input_logIn #message a {
  position: relative;
  border: 2px solid wheat;
}

/* sign up form */
.signUp_form {
  grid-row: 9/14;
  grid-column: 5/18;
}
.signUp_heading {
  grid-column: 7/14;
}

/* profile page */
.order_body {
  grid-row: 10/16;
  grid-column: 4/12;
  display: flex;
  flex-direction: column;
  color: #f1f6f8;
}
.order_heading {
  position: relative;
  left: 0px;
}
.order_desc {
  position: relative;
  left: 50px;
}
